<header>
    <!-- Пункт меню слева -->
    <div class="menu">
        <a href="/">Статистика оператора</a>
        {% if user[0].is_teamlead %}<a href="/teamleader">Статистика группы</a> {% endif %}
        {% if user[0].is_controller %}<a href="/all">Статистика всех</a>{% endif %}
        {% if user[0].is_admin %}<a href="/users">Пользователи</a>{% endif %}
    </div>

    <!-- Заголовок по центру -->
    <h1>☎️</h1>

    <!-- Информация о пользователе и кнопка "Выйти" -->
    <div class="user-info">
        <span class="username">Пользователь:  {{user[0].phone_number}} // {{user[1]}}// ({{user[0].role}})</span>
        <button type="submit" id="logout-button" class="submit-button" onclick="logoutFunction()">Выйти</button>
    </div>
</header>