<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список телефонных записей</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
<!-- Шапка сайта -->
<header>
    <!-- Пункт меню слева -->
    <div class="menu">
        <a href="/">Мои звонки</a>
        {% if user.is_teamlead %}<a href="/teamleader">Статистика группы</a> {% endif %}
        {% if user.is_controller %}<a href="/">Статистика всех</a>{% endif %}
        {% if user.is_admin %}<a href="/">Пользователи</a>{% endif %}
    </div>

    <!-- Заголовок по центру -->
    <h1>Телефонные записи</h1>

    <!-- Информация о пользователе и кнопка "Выйти" -->
    <div class="user-info">
        <span class="username">Пользователь:  {{user.phone_number}} ({{user.role}})</span>
        <button type="submit" id="logout-button" class="submit-button" onclick="logoutFunction()">Выйти</button>
    </div>
</header>
<div class="container">
        {% if warning_flag != '' %}
        <div class="warning-panel">
            <p>Предупреждение: {{warning_flag}}</p>
        </div>
        {% endif %}

<div class="statistics">
    <h2>Статистика группы {{user.phone_number}} за выбранный период: </h2>
    <ul>
        <li>Общее количество звонков: {{ stats.total_calls }}</li>
        <li>Количество входящих звонков: {{ stats.incoming_calls }}</li>
        <li>Количество исходящих звонков: {{ stats.outgoing_calls }}</li>
        <li>Общий трафик (секунды): {{ stats.total_billsec }}</li>
        <li>Среднее время звонка (секунды): {{ "%.2f"|format(stats.average_call_duration) }}</li>
    </ul>
</div>
    <div class="statistics">
    <h1>Список группы {{user.phone_number}}: </h1>

    <!-- Фильтры -->
    <form id="filter-form" class="filter">
        <label for="date_from">Начало: </label>
        <input type="date" id="date_from" value={{ filter.date_from}}>
        <label for="date_to">Конец: </label>
        <input type="date" id="date_to" value={{ filter.date_to}}>
        <button id="filter-button" class="submit-button">Применить фильтры</button>
    </form>

    <!-- Таблица с записями -->
    <table id="recordings-table">
        <thead>
        <tr>
            <th>Оператор</th>
            <th>Всего звонков</th>
            <th>Входящие</th>
            <th>Исходящие</th>
            <th>Общее время разговора</th>
            <th>Среднее время разговора</th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports2 %}
        <tr>
        <td><a href="/?oper={{ report.phone_number }}">{{ report.phone_number }}</a></td>
        <td>{{ report.total_calls }}</td>
        <td>{{ report.incoming_calls }}</td>
        <td>{{ report.outgoing_calls }}</td>
        <td>{{ report.total_duration }}</td>
        <td>{{ report.average_duration }}
        </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<script src="{{ url_for('static', path='/teamleader.js') }}"></script>
</body>
</html>
