body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #333;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px; /* Унифицированный размер шрифта для всех кнопок */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

button#login-button {
    background-color: #4CAF50; /* Зеленый цвет для кнопки "Войти" */
}

button#login-button:hover {
    background-color: #45a049;
}

#error-message {
    color: red;
    text-align: center;
    margin-top: 15px;
}

.register-container {
    margin-top: 15px;
    text-align: center;
}

button#register-button {
    background-color: #E6E6E6; /* Синий цвет для кнопки "Регистрация" */
    font-size: 16px; /* Унифицированный размер шрифта */
}
