body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 300px; /* Ширина контейнера */
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #333;
    margin-left: 5px; /* Отступ между чекбоксом и текстом */
    cursor: pointer; /* Указывает, что можно кликать */
}

input, select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: auto; /* Убирает лишнюю ширину */
    vertical-align: middle; /* Центрирует чекбокс по вертикали относительно текста */
}

.checkbox-group {
    display: flex;
    align-items: center; /* Выравнивание чекбокса и текста по вертикали */
    gap: 10px; /* Расстояние между чекбоксом и текстом */
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 15px;
}
/* Панель предупреждения */
.imformation-panel {
    background-color: #e6ffe6; /* Светло-красный фон */
    border: 1px solid #ccffe1; /* Красная граница */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    color: #4CAF50; /* Темно-красный текст */
    font-size: 14px;
    font-weight: bold;
}