

/* Стили для всего тела страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.filter label {
    font-size: 14px;
}

select{
    padding: 5px;
    font-size: 14px;
}
input {
    padding: 5px;
    font-size: 14px;
}

.filter button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.filter button:hover {
    background-color: #45a049;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px; /* Уменьшены отступы */
    text-align: left;
    border: 1px solid #ddd;
    font-size: 14px; /* Уменьшен размер шрифта */
}

th {
    background-color: #f2f2f2;
}

audio {
    width: 100%;
    max-width: 250px; /* Уменьшение размера плеера */
    max-height: 100px;
}
.statistics {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.statistics h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
}

.statistics h1 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #333;
}

.statistics ul {
    list-style: none;
    padding: 0;
}

.statistics ul li {
    font-size: 14px;
    margin-bottom: 5px;
}

/* Панель предупреждения */
.warning-panel {
    background-color: #ffe6e6; /* Светло-красный фон */
    border: 1px solid #ffcccc; /* Красная граница */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    color: #cc0000; /* Темно-красный текст */
    font-size: 14px;
    font-weight: bold;
}
